@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .container {
    max-width: 7xl;
    margin-left: auto;
    margin-right: auto;
  }
}

html {
  scroll-behavior: smooth;
}
